---
import SmartopsBlack from '../Svg/Logos/SmartopsBlack.astro';
import { useStoryblokApi } from '@storyblok/astro';
import { projectCategories } from '../../utils/useLists';
import { resizeImage } from '../../utils/useImageOptimization';
import ShortArrow from '../Svg/Icons/ShortArrow.astro';
import Home from '../Svg/Icons/Home.astro';

const storyblokApi = useStoryblokApi();
const { data: sparring } = await storyblokApi.get('cdn/stories', { starts_with: 'sparring' });
const { data: pl } = await storyblokApi.get('cdn/stories', {
	starts_with: 'projekte-und-loesungen',
});
const { data: references } = await storyblokApi.get('cdn/stories', {
	starts_with: 'referenzen',
	per_page: 10,
});
const sparringStories = sparring.stories;
const plStories = pl.stories;
const refStories = references.stories;
const refStoriesMobile = references.stories.slice(0, 4);
const technologies = projectCategories.filter((category) => category.group === 'Technologien');
---

<nav
	id='smartops-nav-menu'
	class='fixed min-h-screen overflow-y-auto bg-white inset-0 pt-sm pb-lg hidden flex flex-col gap-lg px-sm'>
	<div class='flex justify-center items-center gap-md'>
		<a href='/'>
			<SmartopsBlack class='w-[250px] h-auto' />
		</a>
		<div class='w-[40px] nav-menu-gsap-item'>
			<div
				id='close-menu-button'
				class='flex items-center h-[20px] w-[40px] cursor-pointer relative'>
				<div class='border border-dark bg-dark border-[2px] w-full -rotate-45'></div>
				<div class='absolute border border-dark bg-dark border-[2px] w-full rotate-45'></div>
			</div>
		</div>
	</div>
	<!-- desktop -->
	<div class='hidden xl:grid grid-cols-6 gap-md max-w-[90%] w-full mx-auto'>
		<div class='nav-menu-gsap-item'>
			<h3>
				<a
					class='flex gap-xs items-center'
					href='/'
					><Home class='h-[25px] w-auto' />Home</a
				>
			</h3>
		</div>
		<div
			tabindex='0'
			class='flex flex-col gap-sm group nav-menu-gsap-item'>
			<h3>Sparring</h3>
			{
				sparringStories.map((story: any) => (
					<a
						href={`/${story.full_slug}`}
						class='opacity-0 group-hover:opacity-100 group-focus:opacity-100 transition-opacity duration-200 group-focus:text-gray text-gray hover:text-dark'>
						{story.content.page_title}
					</a>
				))
			}
		</div>
		<div
			tabindex='0'
			class='flex flex-col gap-sm group nav-menu-gsap-item'>
			<h3>Projekte & Lösungen</h3>
			{
				plStories.map((story: any) => (
					<a
						href={`/${story.full_slug}`}
						class='opacity-0 group-hover:opacity-100 group-focus:opacity-100 transition-opacity duration-200 group-focus:text-gray text-gray hover:text-dark'>
						{story.content.page_title}
					</a>
				))
			}
		</div>
		<div
			tabindex='0'
			class='flex flex-col gap-sm group nav-menu-gsap-item'>
			<h3>Information EE</h3>
			<a
				href='/data-center'
				class='opacity-0 group-hover:opacity-100 group-focus:opacity-100 transition-opacity duration-200 group-focus:text-gray text-gray hover:text-dark'
				>Data-Center</a
			>
		</div>
		<!-- <div class='flex flex-col gap-sm'>
			<h3><a href='/'>Über uns</a></h3>
		</div> -->
		<div class='flex flex-col gap-sm nav-menu-gsap-item'>
			<h3><a href='/kontakt'>Kontakt</a></h3>
		</div>
	</div>
	<!-- mobile -->
	<div class='flex flex-col gap-md sm:max-w-[90%] mx-auto w-full xl:hidden'>
		<div class='nav-menu-gsap-item'>
			<h3>
				<a href='/'>Home</a>
			</h3>
		</div>
		<div
			tabindex='0'
			class='flex flex-col gap-sm group nav-menu-gsap-item'>
			<h3 class='flex items-center gap-xs'>
				<ShortArrow class='h-[12px] w-auto rotate-270' />Sparring
			</h3>
			{
				sparringStories.map((story: any) => (
					<a
						class='group-focus:block hidden pl-md text-gray'
						href={`/${story.full_slug}`}>
						{story.content.page_title}
					</a>
				))
			}
		</div>
		<div
			tabindex='0'
			class='flex flex-col gap-sm group nav-menu-gsap-item'>
			<h3 class='flex items-center gap-xs'>
				<ShortArrow class='h-[12px] w-auto rotate-270' />Projekte & Lösungen
			</h3>
			{
				plStories.map((story: any) => (
					<a
						class='group-focus:block hidden pl-md text-gray'
						href={`/${story.full_slug}`}>
						{story.content.page_title}
					</a>
				))
			}
		</div>
		<div
			tabindex='0'
			class='flex flex-col gap-sm group nav-menu-gsap-item'>
			<h3 class='flex items-center gap-xs'>
				<ShortArrow class='h-[12px] w-auto rotate-270' />Information EE
			</h3>
			<a
				class='group-focus:block hidden pl-md text-gray'
				href='/data-center'
				>Data-Center</a
			>
		</div>
		<!-- <div class='flex flex-col gap-sm'>
			<h3><a href='/'>Über uns</a></h3>
		</div> -->
		<div class='flex flex-col gap-sm nav-menu-gsap-item'>
			<h3><a href='/kontakt'>Kontakt</a></h3>
		</div>
	</div>
	<div class='sm:max-w-[90%] w-full mx-auto flex flex-col gap-md'>
		<div class='flex gap-sm lg:gap-lg items-end flex-wrap'>
			<h3 class='subtitle font-normal nav-menu-gsap-item'><a href='/referenzen'>Referenzen</a></h3>
			<div class='flex gap-md lg:gap-lg flex-wrap'>
				{
					technologies.map((tech) => (
						<a
							class='nav-menu-gsap-item'
							href={`/referenzen/?filter=${tech.value}`}>
							{tech.name}
						</a>
					))
				}
			</div>
		</div>
		<!-- desktop -->
		<div class='hidden sm:flex gap-md overflow-x-hidden'>
			{
				refStories.map((story: any) => (
					<a
						href={`/${story.full_slug}`}
						class='flex nav-menu-gsap-item'>
						<img
							class='rounded-tl-2xl rounded-br-2xl w-[120px] sm:w-[200px] lg:w-[250px] aspect-[3/2] object-cover shrink-0'
							src={resizeImage(story.content.project_image.filename)}
							alt={story.content.project_image.alt}
						/>
					</a>
				))
			}
		</div>
		<!-- mobile -->
		<div class='sm:hidden flex gap-md overflow-x-hidden'>
			{
				refStoriesMobile.map((story: any) => (
					<a
						href={`/${story.full_slug}`}
						class='flex nav-menu-gsap-item'>
						<img
							class='rounded-tl-2xl rounded-br-2xl w-[120px] sm:w-[200px] lg:w-[250px] aspect-[3/2] object-cover shrink-0'
							src={resizeImage(story.content.project_image.filename)}
							alt={story.content.project_image.alt}
						/>
					</a>
				))
			}
		</div>
	</div>
	<div class='sm:max-w-[90%] w-full mx-auto flex justify-end'>
		<div class='flex gap-md'>
			<a
				href='/impressum'
				class='text-gray nav-menu-gsap-item'
				>Impressum</a
			>
			<a
				href='/datenschutz'
				class='text-gray nav-menu-gsap-item'
				>Datenschutz</a
			>
		</div>
	</div>
</nav>

<script>
	document.addEventListener('DOMContentLoaded', () => {
		const closeButton = document.querySelector('#close-menu-button');
		const navMenu = document.querySelector('#smartops-nav-menu');
		closeButton?.addEventListener('click', () => {
			navMenu?.classList.toggle('hidden');
			document.body.classList.toggle('overflow-hidden');
		});
	});
</script>
