---
const { blok } = Astro.props;
---

<div class='carousel-section max-w-paragraph mx-auto w-[80%] sm:w-full flex gap-md'>
	{
		blok.section_items.map((item: any, index: number) => (
			<div
				data-index={index}
				class='carousel-item w-full shrink-0 flex flex-col gap-sm cursor-pointer transition-all duration-200'>
				<img
					loading='lazy'
					src={item.carousel_item_image.filename}
					alt={item.carousel_item_image.alt}
					class='w-full aspect-[3/2] object-cover'
				/>
				<div class='h-[2px] bg-light-gray relative'>
					<div class='item-progress-bar h-[2px] bg-green absolute inset-0 w-0' />
				</div>
				<h3 class='subtitle font-normal'>{item.carousel_item_title}</h3>
				<p>{item.carousel_item_description}</p>
			</div>
		))
	}
</div>

<script>
	import gsap from 'gsap';
	let index = 0;
	let anim: any;

	const animateProgressBars = () => {
		const items = document.querySelectorAll(`.carousel-section .carousel-item`);
		const progressBars = document.querySelectorAll(`.carousel-section .item-progress-bar`);
		anim = gsap.fromTo(
			progressBars[index],
			{ width: '0%' },
			{
				width: '100%',
				duration: 8,
				ease: 'linear',
				onStart: () => {
					items.forEach((item: any) => {
						item.style.transform = `translateX(calc(-${index * 100}% - ${index * 2}rem))`;
					});
				},
				onComplete: () => {
					anim.revert();
					index < progressBars.length - 1 ? index++ : (index = 0);
					animateProgressBars();
				},
			}
		);
	};

	document.addEventListener('DOMContentLoaded', () => {
		const items = document.querySelectorAll(`.carousel-section .carousel-item`);
		items.forEach((item) => {
			item.addEventListener('click', (event) => {
				const target = event.currentTarget as HTMLElement;
				const clickedIndex = target.getAttribute('data-index') as string;
				index = parseInt(clickedIndex);
				anim.revert();
				animateProgressBars();
			});
		});
		animateProgressBars();
	});
</script>
